<div class="header clearfix">

            <a href="{% url 'main:index' %}"> <img class="logo" src="/static/img/logo.svg"></a>

            <ul class="menu clearfix">
                <li class="menu-list">
                    <a href="{% url 'main:index' %}" class="menu-link">Home</a>
                </li>

                <li class="menu-list">
                    <a href="{% url 'myadmin:index' %}" class="menu-link">Users</a>
                </li>

                <li class="menu-list">
                    <a href="#" class="menu-link">Category</a>
                </li>


            </ul>


</div>