{% extends 'mainapp/base.html' %}
{% load static %}

{% block container %}

        {% include 'mainapp/includes/inc__main_menu.html' %}

        <div class="address-h2-us">Our Works</div>

        <div class="shape"><img src=" {% static 'img/Shape.svg' %}" alt="pic"></div>

         {% include 'mainapp/includes/inc__sub_menu.html' %}

        <div class="arts_block">

            {% for product in product %}

            <div class="blocks">
                <div class="block_pic"><img src="{{ product.image.url }}" height="325px;"></div>
                <div class="block_txt">
                    <h2>{{ product.name }}</h2>
                    <p class="p_block_txt"> {{ product.description }}</p>
                    <p class="p_block_txt">Price: {{ product.price }}</p>
                    <a href="{% url 'mainapp:item' product.pk %}" class="block_button">More see</a>
                    <a href="{% url 'basket:add_product' product.pk %}" class="block_button">Buy</a>
                </div>
            </div>

            {% endfor %}

        </div>

{% endblock %}